@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke-text {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  @apply text-[24px] font-poppins uppercase tracking-widest;
}
